.shop-bag{
    color: rgb(60, 8, 109);
    font-size: 40px;
}
.nav{
    background-color: #f3f3f3;
    margin-top: 0;
    position: relative;
    
}
.container{
    margin: 0;
}

.layout{
    background-color: white;
    border-radius: 10px;
    margin-top: 2vh;
    border: 2px solid black;
    
}

/* sidebar */
.side{
    height: 60vh;
    width: 230px;
    margin: 2vh 2vw 0vh 1vw;
    border-radius: 10px;
    background-color: white;
    position: sticky;
    top: 15vh;
}
.splitlayout{
    background-color: rgb(241, 240, 240);
}
.side-link{
    color: black;
}
.side-link div{
    padding: 20px;
}
.side-link div:hover {
    background-color: #3498db;
    color: white;
}
/* userdash  */
.user-icon{
    font-size: 140px;
}
.verify-check{
    color: rgb(4, 112, 4);
}
.detail-box{
    position: fixed;
    margin: 0 auto;
    background-color: #080018a9;
    /* text-align: center; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
}
.prod-detailbox{
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    height: 100vh;
    background-color: white;
    /* border-radius: 15px; */
    position: fixed;
    top: 0vh;
    left: 15vw;
    z-index: 1111;
    overflow-y: scroll;
  }
  .det-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 45px;
  }
  .d-each-box{
    border: 1px solid rgb(190, 182, 182);
    padding: 20px;
    border-radius: 10px;
  }