.footer{
    background-image: linear-gradient( #6F00C7, #080018);
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;  
}
.facebook, .google{
    color: white;
    font-size: 40px;
}
.cart{
    min-height: 80vh;
    background-color: rgb(235, 227, 227);
}
.Cart-image{
    width: 12vw;
    height: auto;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 111;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .load{
    background-color:  rgb(60, 8, 109, 0.9);
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left : 0;
    bottom: 0;
    z-index: 1111;
  }
 .map{
     height: 70vh;
     width: 100%;
 }
 .info{
  background-color: rgb(62, 6, 73);
  color: white;
 }
 /* email verify */
.email-body{
    width: 100%;
    height: 100vh;
}
.email-card{
    width: 30%;
    margin: 8em auto;
    text-align: center;
    background-color: grey;
    padding: 15px;
    border-radius: 7px;
}
.email-card-resend{
    width: 30%;
    margin: 13em auto;
    text-align: center;
    background-color: grey;
    padding: 15px;
    border-radius: 7px;
}
.fail{
    font-size: 80px;
    transform: rotate(45deg);
}

.sub-total{
    background-color: rgb(255, 255, 255);
    position: sticky;
    right: 0;
    top: 0vh;
    bottom: 80vh;
    height: 35vh;
    z-index: 1;
    border-radius: 10px;
}
.shopping-cart{
    background-color: rgb(255, 255, 255);
}

/* checkout page */
.checkout{
   background-color: #fafafa;
   min-height: 100vh;
}
.checkinfo{
    border-radius: 10px;
}
.c-pro{
    overflow-y: scroll;
    max-height: 50vh;
}
.check_prod-img{
    width: 100px;
}
.user-form{
    /* display: flex; */
    margin: 10vh auto;
    width: 400px;
    border-radius: 10px;
}
.user-formlog{
    /* display: flex; */
    margin: 20vh auto;
    width: 400px;
    border-radius: 10px;
}
.Arrow{
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 30px;
    cursor: pointer;
}

/* checkout Page */
.faedit{
    position: absolute;
    top: 10vh;
    right: 3vw;
    font-size: 20px;
    cursor: pointer;
}
.editAdd-box{
    position: fixed;
    margin: 0 auto;
    background-color: #080018a9;
    /* text-align: center; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
}
.addbox{
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    top: 15vh;
    left: 15vw;
    z-index: 1111;
    overflow-y: scroll;
  }
  .editbox-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 45px;
  }
  .radio{
    /* height: 100px; */
    padding: 5px;
  }
  input[type=radio]{
    height: 25px;
    width: 2rem;
  }
  input[type=radio]:checked{
    accent-color: black;
  }
.payment{
    height: 100vh;
}
.confirmbox{
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    height: 30vh;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 1111;
    
  }
/* about page */

.about{
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}